.vscode
**/.vscode
._.vscode
.env
cmd/tg_bot_time_zoner/conf.json
filed_history/URLs.txt
tmp/URLs
tmp
tmpwef/URtjgLs
tmpwef
cmd/tg_bot_time_zoner/URLs
URLs
internal/handlers/conf.json
keys
/cmd/tg_bot_time_zoner/database.db
/cmd/tg_bot_time_zoner/tg_bot_time_zoner
