[Unit]
Description=Telegram bot that does some stuff
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/ubuntu/apps/tg_bot_time_zoner
ExecStart=/ubuntu/apps/tg_bot_time_zoner/tg_bot_time_zoner
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/ubuntu/apps/tg_bot_time_zoner/config.env

[Install]
WantedBy=multi-user.target
