[Unit]
Description=Telegram bot that does some stuff
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/ubuntu/apps/tg_bot_time_zoner
ExecStart=/home/ubuntu/ubuntu/apps/tg_bot_time_zoner/tg_bot_time_zoner
Restart=always
RestartSec=60
StandardOutput=inherit
EnvironmentFile=/home/ubuntu/ubuntu/apps/tg_bot_time_zoner/config.env
#AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
